header {
  border: solid black 1px;
  text-align: center;

}

p {
  margin: 0 0 5px 0;
  padding: 2px 0;
}

input {
  margin: 0 0 5px 0;
  padding: 2px 0;
}

h1, h3 {
  font-family: sans-serif;
  font-size: 2em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

input[text] {
  display: block;
  width: 100%
  background: slategray;
  background-image: none;
  border: 1px solid lightgray;
  color: white;
  border-radius: 2px;

}

h6 {
  font-family: sans-serif;
  font-size: em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

body {
  margin: 10px;
}

#form {
  border: none;
  background-color: lightgray;
}
